<div class="d-flex justify-content-between">
  <select class="custom-select"
          style="width: auto"
          [(ngModel)]="itemsPerPage"
          (ngModelChange)="itemsPerPageChanged.emit(itemsPerPage)">
    <option *ngFor="let o of perPageOptions"
            [ngValue]="o">
      {{o}} por página
    </option>
  </select>

  <ngb-pagination [collectionSize]="itemsLength"
                  [(page)]="currentPage"
                  [pageSize]="itemsPerPage"
                  maxSize="5"
                  rotate="true"
                  ellipses="false"
                  boundaryLinks="true"
                  (pageChange)="currentPageChanged.emit($event)">
  </ngb-pagination>
</div>
