<!-- Loading state while fetching data -->
<app-loading-state *ngIf="bookService.isLoading$ | async"></app-loading-state>

<div class="row">

  <div class="col-md-12 blog-main" *ngIf="book">

    <div class="blog-post">

      <!-- Message in case there is no more pages for this book -->
      <ng-container *ngTemplateOutlet="showNoMorePages"></ng-container>

      <!-- Using a reusable component -->
      <app-book-card [book]="book"></app-book-card>


      <div class="d-flex justify-content-between">

        <div class="blog-post-meta align-self-center">
          by <a href="javascript:void(0)">{{book.by}}</a>
        </div>

        <!-- Viewer mode selector -->
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-sm btn-secondary active">
            <input (click)="htmlText()"
                   type="radio"
                   name="options"
                   id="option1"
                   checked>
            HTML
          </label>
          <label class="btn btn-sm btn-secondary">
            <input (click)="plainText()"
                   type="radio"
                   name="options"
                   id="option2">
            PLAIN
          </label>
        </div>

      </div>
      <!-- /.viewer-mode -->

      <hr>

      <!-- Book page content -->
      <div [innerHtml]="pageBeingViewed.content | safeHtml"></div>

    </div>
    <!-- /.blog-post -->

    <!-- Message in case there is no more pages for this book -->
    <ng-container *ngTemplateOutlet="showNoMorePages"></ng-container>

    <!-- Paginator -->
    <nav aria-label="Book paginator" class="float-right">

      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" href="javascript:void(0)" (click)="changePage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item"
            *ngFor="let b of bookPages"
            [class.active]="b.pageNumber === currentPage">
          <a class="page-link" href="javascript:void(0)" (click)="changePage(b.pageNumber)">{{b.pageNumber + 1}}</a>
        </li>
        <li class="page-item" [class.disabled]="shouldShowNoMoreMessage">
          <a class="page-link" href="javascript:void(0)" (click)="changePage(currentPage + 1)">Next</a>
        </li>
      </ul>

    </nav>

  </div>
  <!-- /.col -->

</div>
<!-- /.row -->

<ng-template #showNoMorePages>
  <div class="alert alert-info" role="alert" *ngIf="shouldShowNoMoreMessage">
    {{noMorePagesMessage}}
  </div>
</ng-template>
